
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#" role="button" ng-click="isCollapsed = !isCollapsed">
                    <i class="fa fa-pie-chart"></i>
                    <span>Proyek</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" uib-collapse="isCollapsed">
                    <li ng-repeat="item in Datas">
                       <a  ui-sref="proyek({data:item})"><i class="fa fa-circle-o"></i>{{item.Nama}}</a>
                    </li>

                </ul>
            </li>
            <li>
                <a ui-sref="bidang">
                    <i class="fa fa-calendar"></i> <span>Bidang/Unit Kerja</span>

                </a>
            </li>
            <li>
                <a ui-sref="konsultan">
                    <i class="fa fa-calendar"></i> <span>Konsultan</span>

                </a>
            </li>
            <li>
                <a ui-sref="kontraktor">
                    <i class="fa fa-calendar"></i> <span>Kontraktor</span>

                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height:1000px">
    <!-- Content Header (Page header) -->
   
    <!-- Main content -->
    <section class="content">
        <ui-view></ui-view>
    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->
<!-- Control Sidebar -->


