@{
    /**/

    ViewBag.Title = "Confirm Email";
}


<div class="box">
    <div class="box-body">

        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>



    </div>
</div>



<style>
    .box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }
</style>