@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="box" >
    <div class="box-body">

        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>

    </div>
</div>



<style>
    .box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }
</style>